*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 5000px;
    box-sizing: border-box;
}

.header,
.btn{
    background-color: #76885B;
    color: white;
}

.header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    justify-content: space-around;
    z-index: 1;
}

.logo{
    width: 80px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    flex: 1;
}

.name p{
    cursor: pointer;
}

.botonesInfo{
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: space-between;
    max-width: 300px;
}

.botonesLogIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.btn{
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.reg{
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 8px;
    background-color: #DDDDDD;
    color: rgb(0, 0, 0);
    height: 50px;
}

.btnreg{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 8px;

    border: none;
    font-size: 16px;
    cursor: pointer;

    transition: color .6s ease;
    transition: background-color .4s ease;
}

.btnreg:hover{
    color: white;
    background-color: #76885B;
}

.btn{
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 8px;

    transition: color .2s ease;
    transition: background-color .4s ease;
}

.btn:hover{
    background-color: #DDDDDD;
    color: black;
}