*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 5000px;
    box-sizing: border-box;
}

.header{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    border: solid 1px red;
}

.logo{
    width: 100px;
}

.name{
    border: solid 1px green;
}

.botonesInfo{
    border: solid 1px blue;
    display: flex;
}

.botonesLogIn{
    border: solid 1px green;
    display: flex;
}

.btn{
    border: none;
    background-color: white;
    font-size: 16px;
}
